.App {
  padding: 20px 50px;
  text-align: center;
  background-image: url('../henry-be-TCsCykbwSJw-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  color: #D7CEC7
}

h1 {
  font-size: 50px;
}

h3 {
  font-style: italic;
}

p {
  font-size: 20px;
}

#search-section {
  margin: 25px;
  padding: 20px;
}

label {
  color: #D7CEC7;
  font-size: 20px;
}

input {
  margin: 10px;
  border-radius: 5px;
}

#query-field {
  width: 35%;
  padding: 10px;
}

button {
  width: 150px;
  margin-left: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #D7CEC7;
  font-size: 20px;
}

#display-results {
  margin-top: 20px;
}

.col-4 {
  margin: 40px;
  background-color: #D7CEC7;
}

.col-4 img {
  padding: 10px;
}
