.App {
  padding: 20px 50px;
  text-align: center;
  background-image: url('../henry-be-TCsCykbwSJw-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  color: #D7CEC7;
}

h1 {
  font-size: 50px;
}

h2 {
  color: #D7CEC7;
}

h3 {
  font-style: italic;
}

p {
  font-size: 20px;
}

#search-section {
  margin: 25px;
  padding: 20px;
}

label {
  color: #D7CEC7;
  font-size: 20px;
}

input {
  margin: 10px;
  border-radius: 5px;
}

#query-field {
  width: 35%;
  padding: 10px;
}

button {
  width: 150px;
  margin-left: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #D7CEC7;
  font-size: 20px;
}

#display-results {
  margin-top: 20px;
}

.col-4 {
  margin: 40px;
  background-color: #D7CEC7;
}

.col-4 img {
  padding: 10px;
}

.card-flip > div {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  /* display: flex; */
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  opacity: .99;
  /*  opacity fixes Chrome bug related to backface-visibility & overflow values */
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}
  
.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

.description {
  width: 90%;
  height: 80%;
  overflow: scroll;
}